<div class="jumbotron demo-description-block">
    <h4><em>How it works</em></h4>
    <p>
        The directive helps us make a shortcut for a button. By clicking the
        'Show The Message' button an alert will show up and if you try pressing
        'Ctrl + i' the same alert will show up.
    </p>
    <p>
        The code provided below uses the keyboard shortcut directive to bind a
        key combination to the buttons click event.
    </p>
</div>
<hr />

<div class="row">
    <div class="col-sm-3">
        <h4><em>Test the Directive!</em></h4>
    </div>
    <div class="col-sm-3">
        <button
            [keyboardShortcut]="keyboardShortcutDef"
            (click)="alertMessage()"
            class="btn btn-primary"
        >
            Show the Message
        </button>
    </div>
</div>

<pre style="margin-bottom: 0;">
    <code>{{ code_bit_1 }}</code>
</pre>
<pre>
    <code>{{ code_bit_2 }}</code>
</pre>
