<div class="jumbotron demo-description-block">
    <h4><em>How it works</em></h4>
    <p>
        The directive is to make a shortcut for a button. Clicking the
        Show The Message button and an alert will show up. Click Ctrl + i
        and the same alert will show up.
    </p>
    <p>
        If you look at the code provided it gives you the ability to call a
        message via the button click or by just using the directive selector.
    </p>
</div>
<button
    [keyboardShortcut]="keyboardShortcutDef"
    (click)="alertMessage()"
    class="btn btn-primary"
>
    Show the Message
</button>
<br>
<br>
<pre style="margin: 0;">
        <code>
            {{ code_bit_1 }}
        </code>
    </pre>