<div class="jumbotron demo-description-block">
    <h4><em>How it works</em></h4>
    <p>
        The single keybinding component demonstrates how to create just one
        keybinding listener within a single component. The listener itself will
        be a global variable in the component and we will assign it using the
        Object.assign method on the listener constructor object.
    </p>
    <p>
        This demo is currently set to listen for the key combination [CTRL + M].
        Press the combination to trigger the alert and see it in action!
    </p>
</div>
<hr />
<h4>
    <em>{{ info }}</em>
</h4>
<pre style="margin-bottom: 0;">
    <code class="highcodeblock" [highlight]="code_bit_1"></code>
</pre>
<pre>
    <code class="highcodeblock" [highlight]="code_bit_2"></code>
</pre>
<br />
<br />
<br />
