/* You can add global styles to this file, and also import other style files */
@import 'customize-bootstrap.scss';
@import '~bootstrap/scss/bootstrap';
@import '~font-awesome/css/font-awesome.css';

.jumbotron.demo-description-block {
    padding-top: 25px;
    padding-bottom: 10px;
}
.highcodeblock.hljs {
    background: #e9ecef;
    padding: 0;
    margin-bottom: -30px;
}
.highcodeblock .hljs-comment {
    color: #1fad3c;
}
.highcodeblock .hljs-string {
    color: #ad801f;
}
.highcodeblock .hljs-keyword {
    color: #a81c1c;
}
.little-extra-bottom-margin {
    margin-bottom: 10px;
}
